<!-- public/views/containers.html -->

<link href="../libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="../libs/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
<link href="../css/style.css" rel="stylesheet">
<link href="../libs/morrisjs/morris.css" rel="stylesheet">
<link href="../libs/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<div class="jumbotron text-center">
    <h1 class="page-header">Data Header</h1>

    <p>{{ tagline }}</p>
</div>
